$font: (
  primary: ("SedgwickAve", "Montserrat", sans-serif),
  secondary: ("Montserrat", sans-serif)
);

$color: (
  primary: #F3E9F1,
  secondary:#E88B04,
  tertiary: #935DC0,
  footer: #252526,
  white: white,
  black: black,
  cards: linear-gradient(#F3E9F1, white)
);

$font-size: (
  initial: 16px,
  xxl: 2rem,
  xl: 1.5rem,
  lg: 1.2rem,
  md: 1rem
);

$font-weight: (
  md: 400,
  lg: 600
);

$margin: (
  xs: 0.2rem
);

$size: (
  xxxl: 25rem,
  xxl: 20rem,
  xl: 18rem,
  lg: 10rem,
  md: 3.5rem
);