$color: (
  primary: #F3E9F1,
  secondary:#E88B04,
  tertiary: #935DC0,
  footer: #252526,
  white: white
);

$font-size: (
  initial: 16px,
  md: 1rem,
  lg: 1.2rem
);

$font-weight: (
  md: 400,
  lg: 600
);

$margin: (
  xs: 0.2rem
)